body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(135deg, #6f7bf7, #8e5fd6);
    color: white;
}

/* HOME */
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.btn {
    background: white;
    color: #6f7bf7;
    padding: 12px 28px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 20px;
}

/* HEADER */
header {
    padding: 20px;
}

.back-link {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

/* FLASHCARD */
.flashcard-container {
    margin-top: 40px;
}

.flashcard {
    width: 280px;
    height: 170px;
    margin: auto;
    perspective: 1000px;
    cursor: pointer;
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    background: white;
    color: black;
    backface-visibility: hidden;
    transition: transform 0.6s;
}

.card-back {
    background: #4b3dbf;
    color: white;
    transform: rotateY(180deg);
}

.flashcard.flipped .card-front {
    transform: rotateY(180deg);
}

.flashcard.flipped .card-back {
    transform: rotateY(360deg);
}

/* CONTROLS */
.controls {
    margin-top: 25px;
}

.controls button {
    padding: 8px 16px;
    margin: 0 10px;
    font-size: 14px;
    cursor: pointer;
}
